---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="About">
	<h1>About</h1>

	<h2> Code of Conduct </h2>
	<p>SF Civic Tech is a space for everyone. What does that mean?</p>

	<ul>
		<li> We value the people here and make everyone feel welcome </li>
		<li> We make room for all brigade members to engage, discuss, and collaborate </li>
		<li> We support each other to build a strong civic tech community </li>
		<li> We respect the boundaries of others </li>
	</ul>

	<p> These are not just statements of belief, but principles that we collectively enact.
		We are dedicated to upholding them, and to ensuring that all members of our community
		respect them. </p>

	<p>The full Code of Conduct is available, with more detailed information about our
		community principles. You’ll also find our harassment policy, along with information
		about who to contact if you think the policy has been violated. For other questions
		about the Code of Conduct, or about our collective, reach out to hello@sfcivictech.org.
	</p>

	<div class="code-of-conduct-btn">
		<a href="code-of-conduct" role="button">Read the full Code of Conduct</a>
	</div>
</BaseLayout>

<style>
	h1, h2 {
		text-align: center;
	}

	h2 {
		font-size: 20px;
	}

	p, ul {
		line-height: 1.4em;
		font-size: 16px;
		margin-bottom: 20px;

		li {
			margin-bottom: 0;
		}
	}

	.code-of-conduct-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
