---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getBlogImage } from "@/utils/getBlogImage";

export async function getStaticPaths()
{
	const posts = await getCollection("blog");

	return posts.map((entry) => ({
		params: {
			slug: entry.slug
		},
		props: {
			entry
		},
	}));
}

const { entry: { render, data: { title, image, image_alt = "" } } } = Astro.props;
const { Content } = await render();
const imageData = await getBlogImage(image);
---

<BaseLayout title={title}>
	{
		imageData &&
			<p>
				<Image src={imageData} alt={image_alt} />
			</p>
	}
	<Content />
</BaseLayout>
