.event-card {
	--sp1: calc(.25 * var(--pico-block-spacing));
	--sp2: calc(2 * var(--sp1));
	--sp4: calc(4 * var(--sp1));
	--border-width: 1px;
	--muted-text-opacity: .75;
	/* subtract one border width from the container's total width so the rightmost
	 card doesn't get clipped.  use the cqw unit to get the width of the container,
	 which is .scroll-container, and not our immediate parent, whose width is the
	 full width of all the cards. */
	width: calc((100cqw - 2 * var(--pico-grid-column-gap) - var(--border-width)) / 3);
	min-width: 22ch;
	aspect-ratio: 1;
	text-decoration: none;
	--pico-color: var(--pico-muted-color);
	padding: var(--sp2);
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	background: var(--pico-form-element-background-color);
	border: var(--border-width) solid var(--pico-card-border-color);
	transition: background 0.3s ease;
	scroll-snap-align: start;
	overflow: hidden;
	word-break: break-word;

	&:hover {
		background: var(--pico-dropdown-hover-background-color);
		/* prevent the text from getting the anchor hover color */
		--pico-color: var(--pico-muted-color);
	}

	img {
		width: calc(3.5 * var(--sp2));
		aspect-ratio: 1;
		border-radius: 50%;
		margin-bottom: var(--sp1);
	}

	h3 {
		margin: 0 0 var(--sp1) 0;
		font-size: 1rem;
	}

	p {
		font-size: smaller;
		line-height: 1.35;
		margin: 0;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;

		strong {
			opacity: var(--muted-text-opacity);
		}
	}

	footer > * {
		font-size: .75rem;
		line-height: 1;
	}

	h4 {
		margin: var(--sp1) 0 0;
		opacity: var(--muted-text-opacity);
	}

	time {
		opacity: var(--muted-text-opacity);
	}

	@media (max-width: 1024px) {
		aspect-ratio: unset;

		p {
			-webkit-line-clamp: 2;
		}
	}
}
