@keyframes pulse {
	0%, 100% {
		opacity: .05;
	}

	50% {
		opacity: .4;
	}
}

.loader {
	color: var(--pico-secondary-background);
	width: 100%;
	aspect-ratio: 3;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		height: 40%;
		animation: pulse 2s infinite;
	}
}
