@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
	--font-body: "Barlow", sans-serif;
	--font-condensed: "Barlow Condensed", sans-serif;

	--color-primary: var(--color-sf-red);
	--color-text-base: black;
	--color-background-base: white;
	--color-muted: var(--color-stone-500);

	--text-sm: 1rem;       /* 16px */
	--text-base: 1.125rem; /* 18px */
	--text-lg: 1.25rem;    /* 20px */
	--text-xl: 1.5rem;     /* 24px */
	--text-2xl: 1.875rem;  /* 30px */
	--text-3xl: 2.25rem;   /* 36px */
	--text-4xl: 3rem;      /* 48px */
	--text-5xl: 3.75rem;   /* 60px */
	--text-6xl: 4.5rem;    /* 72px */
}

@layer base {
	:root {
		/* Colors */
		--color-sf-red: #f22613;
		/*
		--color-sf-blue: #67b4f5;
		--color-sf-purple: #c05f9a;
		--color-sf-navy: #323266;
		--color-sf-cream: #f7efde;
		*/
	}

	html {
		font-size: 12px; /* Base font size for smallest screens */
		-webkit-tap-highlight-color: transparent; /* Optional: improves mobile tap experience */
	}

	/* Apply larger base font size starting from 'md' breakpoint */
	@media (min-width: theme("screens.md")) {
		html {
			font-size: 16px; /* Standard base font size for medium screens and up */
		}
	}

	@media (min-width: theme("screens.lg")) {
		html {
			font-size: 18px;
		}
	}

	body {
		color: var(--color-text-base);
		background-color: var(--color-background-base);
	}

	p {
		@apply mb-4;
	}

	a:where(a:not([role=button])), [role=link] {
		color: var(--color-sf-red);
		@apply underline
			font-semibold
			transition
			duration-300
			ease-out
			underline-offset-[.2rem]
			decoration-primary/25
			hover:decoration-primary;
	}
}

@layer utilities {
	.scrollbar-hide {
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
