---
import { Icon } from "astro-icon/components";
import NavLink from "./NavLink.astro";
import {
	facebookURL,
	githubURL,
	linkedinURL,
	meetupURL,
	pitchProjectURL,
	proposeTalkURL,
	slackURL,
	blueskyURL,
	twitterURL
} from "@/utils/urls";

const columns = [
	[
		"Resources",
		[
			[proposeTalkURL, "propose a talk"],
			[pitchProjectURL, "pitch a project"],
		],
	],
	[
		"About",
		[
			["/about", "about"],
			["/about#core-team", "meet the core team"],
			["/about#code-of-conduct", "code of conduct"],
			["mailto:hello@sfcivictech.org", "contact"],
		],
	],
	[
		"Elsewhere",
		[
			[githubURL, "github", "fa:github"],
			[slackURL, "slack", "fa:slack"],
			[meetupURL, "meetup", "fa:meetup"],
			[blueskyURL, "bluesky", "fa6-brands:bluesky"],
			[facebookURL, "facebook", "fa:facebook"],
			[linkedinURL, "linkedin", "fa:linkedin"],
			[twitterURL, "twitter", "fa6-brands:twitter"],
		],
	],
] as const;
---

<footer class="mx-auto px-0 py-14 text-sm flex flex-row justify-between">
	{columns.map(([cat, links]) => (
		<nav aria-label="Footer" class="flex flex-col justify-start">
			<h3 class="text-primary text-lg font-condensed font-bold uppercase mb-2">{cat}</h3>
			<ul class="block list-none p-0 m-0">
				{links.map(([page, label, iconName]) => (
					<li class="hover:text-primary pb-1 flex items-center gap-1">
						{iconName &&
							<Icon name={iconName} class="inline-block min-w-6 text-center align-baseline" />
						}
						<NavLink href={page}>
							{label}
						</NavLink>
					</li>
				))}
			</ul>
		</nav>
	))}
</footer>
