---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

const posts = await getCollection("blog");
---

<BaseLayout title="Blog">
	<ul>
		{
			posts.map((post) => (
				<li>
					<a href={"blog/" + post.slug}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
