---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Donate" header="Help Support SF Civic Tech">
	<p>
		SF Civic Tech hosts the longest-running tech-for-good hack night in San Francisco. Every
		week our members meet to make our community and government better. Every workshop, hack night,  
		and project is run 100% by volunteers.
	</p>

	<p>
		<strong>And every tax-deductible dollar that you donate goes directly to supporting the work of our 501(c)(3) 
		organization.</strong> That includes covering cloud hosting and other infrastructure fees for our free, 
		open source civic tech projects that support Bay Area residents and local governments. Your 
		donation also helps cover expenses like insurance and catering for the free, in-person educational and 
		networking events that we organize to support the civic tech community at large.
	</p>

	<p>
		<a href="https://c4sf.me/donate" role="button" rel="noopener">
			Donate Now!
		</a>
	</p>
</BaseLayout>
