---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Donate" header="Help Support SF Civic Tech">
	<p>
		SF Civic Tech members meet every week to make our community and government
		better. Every hack night, talk, workshop, event, and project is organized
		100% by volunteers.
	</p>

	<p>
		We are supported by generous sponsors and individuals. Help us continue to
		do this work through a tax-deductible donation on our Zeffy page.
	</p>

	<p>
		<a href="https://www.zeffy.com/en-US/donation-form/donate-to-sf-civic-tech" role="button" rel="noopener">
			Donate Now!
		</a>
	</p>
</BaseLayout>
