---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Get Started">
	<p>
		Regardless of skillset or background, anyone can contribute to their
		community through SF Civic Tech
	</p>
</BaseLayout>
