---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
import NewsSummary from "@/components/NewsSummary.astro";
import { newsletterURL, pitchProjectURL, slackURL } from "@/utils/urls";
---

<BaseLayout title="Home" header="We are SF Civic Tech">
	<p>
		We are a welcoming and inclusive volunteer group of developers, designers,
		data geeks, and citizen activists who use creative technology to solve civic
		and social problems.
	</p>
	<p>
		<a href="getting-started" role="button">Get Started</a>
	</p>
	<div class="grid">
		<Card
			title="Propose a Project"
			body="Have any idea to improve community or civic life in San Francisco? We want to hear it."
			label="Propose a Project"
			href={pitchProjectURL}
		/>
		<Card
			title="Chat on Slack"
			body="Join a rich set of active projects on slack, available whenever and wherever you are."
			label="Join Slack"
			href={slackURL}
		/>
		<Card
			title="Join Our Newsletter"
			body="Keep in touch with the latest and greatest in the civic tech community."
			label="Get the Newsletter"
			href={newsletterURL}
		/>
	</div>
	<NewsSummary />
</BaseLayout>
