---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CodeSummary from "@/components/CodeSummary.astro";
import NewsSummary from "@/components/NewsSummary.astro";
import BigText from "@/components/BigText.astro";
//import { newsletterURL, pitchProjectURL, slackURL, getStartedURL } from "@/utils/urls";
---

<BaseLayout title="Home" header="">
	<BigText>
		<Fragment slot="title">
			<b>SF</b><br>
			Civic<br>
			Tech
		</Fragment>
		<Fragment slot="body">
			We are a welcoming and inclusive volunteer group of <i>developers</i>, <i>designers</i>,
			<i>data geeks</i>, and <i>citizen activists</i> who use creative technology to address civic
			and social problems.
		</Fragment>
	</BigText>

	<BigText anchor="right">
		<Fragment slot="title">
			<b>Every</b><br>
			Wed<br>
			6:30PM
		</Fragment>
		<Fragment slot="body">
			<p><i>Virtual Civic Hack Night</i></p>
			<p>Not just for techies, success means having volunteers from all across
				our community.</p>
			<p>Everyone is welcome!</p>
		</Fragment>
	</BigText>

	<BigText size="md" showOrnament={false}>
		<Fragment slot="title">
			<b>Propose a<br>
			Project</b>
		</Fragment>
		<Fragment slot="body">
			<p>Have an idea to improve community or civic life in San Francisco? We want to hear it.</p>
		</Fragment>
	</BigText>

	<BigText size="md" anchor="right" showOrnament={false}>
		<Fragment slot="title">
			<b>Join the<br>
			Conversation</b>
		</Fragment>
		<Fragment slot="body">
			<p>Our Slack workspace is the main hub for communication and collaboration. Introduce yourself!</p>
		</Fragment>
	</BigText>

	<BigText size="md">
		<Fragment slot="title">
			<b>Stay<br>
			Informed</b>
		</Fragment>
		<Fragment slot="body">
			<p>Sign up for our newsletter to stay updated on events, projects, and other announcements.</p>
		</Fragment>
	</BigText>

	<NewsSummary />
	<CodeSummary />
</BaseLayout>
