---
import GitHubEvents from "@/react/GitHubEvents/GitHubEvents";
import BigText from "./BigText.astro";

// we'll pass the ID of the section to the GitHubEvents component so that it can
// hide the whole section in case there's an error, rather than leave a broken
// component on the page
const id = "in-the-code";
---

<section id={id} class="mb-8">
	<BigText size="md" showOrnament={false}>
		<Fragment slot="title">
			In the <b>Code</b>
		</Fragment>
	</BigText>
	<div class="mt-5" />
	<GitHubEvents
		org="sfbrigade"
		sectionID={id}
		client:only="react"
	/>
</section>
