---
import GitHubEvents from "@/components/react/GitHubEvents";
---

<section>
	<h2>In the Code</h2>
	<GitHubEvents
		org="sfbrigade"
		client:only="react"
	/>
</section>

<!--
<style>
	section {
		margin-bottom: 0;
	}
</style>
-->
