---
import { Icon } from "astro-icon/components";
import NavLink from "./NavLink.astro";
import {
	facebookURL,
	githubURL,
	linkedinURL,
	meetupURL,
	pitchProjectURL,
	proposeTalkURL,
	slackURL,
	twitterURL
} from "@/utils/urls";

const columns = [
	[
		"Resources",
		[
			[proposeTalkURL, "propose a talk"],
			[pitchProjectURL, "pitch a project"],
		],
	],
	[
		"About",
		[
			["/about", "about"],
			["/about#core-team", "meet the core team"],
			["/about#code-of-conduct", "code of conduct"],
			["mailto:hello@sfcivictech.org", "contact"],
		],
	],
	[
		"Elsewhere",
		[
			[twitterURL, "twitter", true],
			[facebookURL, "facebook", true],
			[linkedinURL, "linkedin", true],
			[githubURL, "github", true],
			[slackURL, "slack", true],
			[meetupURL, "meetup", true],
		],
	],
] as const;
---

<footer class="container">
	{columns.map(([cat, links]) => (
		<nav>
			<h3>{cat}</h3>
			<ul>
				{links.map(([page, label, needsIcon]) => (
					<li>
						{needsIcon &&
							<Icon name={"fa:" + label} class="icon" />
						}
						<NavLink href={page}>
							{label}
						</NavLink>
					</li>
				))}
			</ul>
		</nav>
	))}
</footer>

<style>
	footer {
		padding-top: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	nav {
		flex-direction: column;
		justify-content: start;
	}

	h3 {
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}

	ul {
		display: block;
	}

	ul:first-of-type, ul:last-of-type {
		margin-left: initial;
		margin-right: initial;
	}

	li {
		padding: .15rem 0;
		display: block;
	}

	/* force the a's in the NavLink to have no extra spacing */
	li > :global(a) {
		margin: 0;
		padding: 0;
	}

	.icon {
		display: inline-block;
		min-width: 1.5rem;
		text-align: center;
	}
</style>
