---
import { Icon } from "astro-icon/components";
import NavLink from "./NavLink.astro";

const columns = [
	[
		"Resources",
		[
			[
				"https://docs.google.com/forms/d/e/1FAIpQLScHe7aWQ-2n3lSTU1WfcK8rhBZp8pkDGH9EcJdbQb5lqMbbzA/viewform",
				"propose a talk",
			],
			[
				"https://docs.google.com/forms/d/e/1FAIpQLSexe5qvmJ6LTiU1HcR-XAzlrgPLBudVBPK_ouHeBkFz2JVUHw/viewform",
				"pitch a project",
			],
		],
	],
	[
		"About",
		[
			["about", "about"],
			["about", "meet the core team"],
			["about", "code of conduct"],
			["mailto:hello@sfcivictech.org", "contact"],
		],
	],
	[
		"Elsewhere",
		[
			["https://twitter.com/sfbrigade", "twitter", true],
			["https://www.facebook.com/codeforsanfrancisco", "facebook", true],
			["https://www.linkedin.com/company/18115347/", "linkedin", true],
			["https://github.com/sfbrigade/", "github", true],
			["https://c4sf.me/slack", "slack", true],
			["https://www.meetup.com/sfcivictech/", "meetup", true],
		],
	],
] as const;
---

<footer class="container">
	<nav>
		{columns.map(([cat, links]) => (
			<div>
				<h3>{cat}</h3>
				<ul>
					{links.map(([page, label, needsIcon]) => (
						<li class="footer-list-cat-list-item ">
							{needsIcon &&
								// @ts-expect-error adding a class attribute to the <Icon> component
								// works just fine but TS complains, so tell it to keep quiet
								<Icon name={"fa:" + label} class="icon" />
							}
							<NavLink href={page}>
								{label}
							</NavLink>
						</li>
					))}
				</ul>
			</div>
		))}
	</nav>
</footer>

<style>
	h3 {
		font-size: 1.25rem;
		margin: 0;
		text-transform: uppercase;
	}

	ul {
		--nav-element-spacing-horizontal: 0;
		align-items: start;
		display: flex;
		flex-direction: column;
	}

	ul:first-of-type, ul:last-of-type {
		margin-left: initial;
		margin-right: initial;
	}

	li {
		margin: 0;
		padding: 0;
	}

	.icon {
		display: inline-block;
		min-width: 1.5rem;
		text-align: center;
	}
</style>
