---
import BigHeading from "./BigHeading.astro";
---

<li class="relative flex flex-row items-start gap-1u mb-2u [counter-increment:item]">
	<div class="flex-1">
		<BigHeading size="md">
			<slot name="title" />
		</BigHeading>

		<div class="mt-1u text-xl">
			<slot />
		</div>
	</div>
</li>

<style>
	/* we have to use @reference here to get access toTailwind utility classes */
	@reference "@/styles/global.css";

	li::before {
		@apply content-[counter(item)]
			text-[length:var(--spacing-4col)]
			text-right
			text-stone-200
			font-semibold
			font-condensed
			leading-[.8]
			w-2col;
		text-box-trim: trim-both;
		text-box-edge: cap alphabetic;
		font-variant-numeric: tabular-nums;
	}
</style>
