---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	title: string;
	src: ImageMetadata;
}

const { title, src } = Astro.props;
---

<li class="relative pl-4 mb-6 [counter-increment:item]">
	<figure class="flex flex-row items-start gap-6">
		<Image class="w-24" src={src} alt={title} loading="eager" />
		<figcaption class="p-0">
			<h3 class="my-2 text-xl text-primary font-semibold">{title}</h3>
			<slot />
		</figcaption>
	</figure>
</li>

<style>
	li::before {
		content: counter(item);
		font-weight: bold;
		font-size: 2rem;
		color: var(--color-sf-red);
		position: absolute;
		left: -1.5rem;
		line-height: 1;
	}
</style>
