---
import { Image } from "astro:assets";
import NavLink from "./NavLink.astro";
import NavDropdown from "./NavDropdown.astro";
import { meetupURL, projectsURL, wikiURL } from "@/utils/urls";
import logo from "@/assets/sfct-logo-black.png";

const routes = [
	{ label: "Wiki", page: wikiURL },
	{ label: "Get Started", page: "/get-started" },
	{ label: "Events", page: meetupURL },
	{ label: "Projects", page: projectsURL },
	{ label: "Blog", page: "/blog" },
	{ label: "Donate", page: "/donate" },
	{ label: "About", page: "/about",
		pages: [
			{ label: "Code of Conduct", page: "/about/code-of-conduct" }
		]
	}
];
---

<header class="container">
	<nav>
		<ul>
			<li class="home">
				<NavLink href="/" class="contrast">
					<Image src={logo} alt="SF Civic Tech Logo" height="50" loading="eager" />
					<div class="name"><strong>SF Civic Tech</strong>
						<em>formerly Code for San Francisco</em>
					</div>
				</NavLink>
			</li>
		</ul>
		<ul>
			{routes.map(({ label, page, pages }) => (
				<li>
					<NavLink href={page}>
						{label}
					</NavLink>
					{!!pages?.length &&
						<NavDropdown items={pages} />
					}
				</li>
			))}
		</ul>
	</nav>
</header>

<style>
	header {
		padding: 0;
	}

	img {
		margin: 0 .5rem .5rem 0;
	}

	.name {
		display: inline-flex;
		flex-direction: column;
	}

	/* we don't want any space between the name and the logo to get underlined */
	.home :global(a:hover)  {
		text-decoration: none;
	}

	.home :global(a:hover) strong {
		text-decoration: underline;
	}

	strong {
		white-space: nowrap;
	}

	em {
		color: var(--pico-muted-color);
		font-size: 0.6em;
		line-height: 1;
	}
</style>
