---
import { Image } from "astro:assets";
import logo from "@/assets/brand/logo.svg";
import logoType from "@/assets/brand/logoType.svg";
---

<div class="inline-flex items-center gap-[.65rem]">
	<Image src={logo} alt="SF Civic Tech Logo" class="h-[2.4rem] w-auto" loading="eager" />
	<Image src={logoType} alt="SF Civic Tech" class="h-[1.25rem] w-auto" loading="eager" />
</div>
