---
import { Image } from "astro:assets";
import logo from "@/assets/brand/logo.svg";
import logoType from "@/assets/brand/logoType.svg";
---

<div class="logo-container">
	<Image src={logo} alt="SF Civic Tech Logo" class="logo" loading="eager" />
	<div class="name">
		<Image src={logoType} alt="SF Civic Tech" class="logo-type" loading="eager" />
		<em>formerly Code for San Francisco</em>
	</div>
</div>

<style>
	.logo-container {
		display: inline-flex;
		align-items: end;
		gap: .65rem;
	}

	.logo {
		width: auto;
		height: 2.4rem;
		visibility: visible;
	}

	.logo-type {
		width: auto;
		height: 1.15rem;
	}

	.name {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: .25rem;
		position: relative;
		top: 1px;
		visibility: visible;
	}

	em {
		color: var(--pico-muted-color);
		font-size: 0.6rem;
		line-height: 1;
	}
</style>
