---
import { Image } from "astro:assets";
import logo from "@/assets/brand/logo.svg";
import logoType from "@/assets/brand/logoType.svg";
---

<div class="inline-flex items-end gap-[.65rem]">
	<Image src={logo} alt="SF Civic Tech Logo" class="h-[2.4rem] w-auto" loading="eager" />
	<div class="flex flex-col items-start ">
		<Image src={logoType} alt="SF Civic Tech" class="h-[1.15rem] w-auto mb-2" loading="eager" />
		<em class="font-normal text-xs text-stone-400 leading-[.6]">formerly Code for San Francisco</em>
	</div>
</div>
