---
import TeamMember from "@/components/TeamMember.astro";
---

<section class="my-6 flex flex-row flex-wrap items-start gap-12">
	<TeamMember
		name="Francis Li"
		title="President"
	/>

	<TeamMember
		name="Janice Tam"
		title="Vice President"
	/>

	<TeamMember
		name="Edward Wu"
		title="Secretary"
	/>

	<TeamMember
		name="Robby Taine"
		title="Treasurer"
	/>

	<TeamMember
		name="John Dunning"
		title="Board Member"
	/>

	<TeamMember
		name="Julia Gitis"
		title="Board Member"
	/>

	<TeamMember
		name="Leela Solomon"
		title="Board Member"
	/>
</section>
