---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	name: string;
	title: string;
	image: ImageMetadata;
}

const { name, title, image } = Astro.props;
---

<figure>
	<Image
		src={image}
		alt={name}
		loading="eager"
	/>
	<figcaption>
		<h3>{name}</h3>
		<h4>{title}</h4>
	</figcaption>
</figure>

<style>
	figure {
		flex-grow: 1;
		flex-basis: 0%;
		min-width: 15ch;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: calc(.5 * var(--pico-block-spacing));
	}

	img {
		border-radius: 50%;
		width: 114px;
		height: 114px;
		object-fit: cover;
	}

	h3, h4 {
		text-align: center;
		margin: 0;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-weight: normal;
		font-size: 1rem;
		margin-top: 0.25rem;
	}
</style>
