.github-events-container {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	container-type: inline-size;
}

.scroll-container {
	flex: 1;
	display: flex;
	gap: var(--pico-grid-column-gap);
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none; /* Hide scrollbar for Firefox */
	-ms-overflow-style: none; /* Hide scrollbar for IE/Edge */

	&::-webkit-scrollbar {
		display: none; /* Hide scrollbar for Chrome/Safari */
	}
}

.scroll-button {
	--button-size: 2rem;
	position: absolute;
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;
	color: var(--pico-secondary-background);
	opacity: .25;
	transition: opacity 0.3s ease;
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: none;

	&:hover {
		opacity: .5;
	}

	&:active {
		opacity: .75;
	}

	&.left {
		left: calc(var(--button-size) * -1 - var(--pico-grid-column-gap));
	}

	&.right {
		left: calc(100% + var(--pico-grid-column-gap));
	}

	@media (max-width: 900px) {
		display: none;
	}
}
