.event-card {
	--sp1: calc(.25 * var(--pico-block-spacing));
	--sp2: calc(2 * var(--sp1));
	--sp4: calc(4 * var(--sp1));
	--border-width: 1px;
	/* subtract one border width from the container's total width so the rightmost card doesn't get clipped */
	width: calc((100% - 2 * var(--pico-grid-column-gap) - var(--border-width)) / 3);
	min-width: 28ch;
	aspect-ratio: 1;
	text-decoration: none;
	padding: var(--sp2);
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	background: #f9f9f9;
	border: var(--border-width) solid #ddd;
	transition: background 0.3s ease;
	scroll-snap-align: start;
	overflow: hidden;
	word-break: break-word;

	&:hover {
		background: rgb(241, 241, 241);
	}

	img {
		width: calc(3.5 * var(--sp2));
		aspect-ratio: 1;
		border-radius: 50%;
		margin-bottom: var(--sp1);
	}

	h3 {
		margin: 0 0 var(--sp1) 0;
		font-size: 1rem;
	}

	p {
		font-size: smaller;
		line-height: 1.35;
		color: #555;
		margin: 0;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	footer > * {
		font-size: .75rem;
		line-height: 1;
	}

	h4 {
		margin: var(--sp1) 0 0;
		color: #888;
	}

	time {
		color: #999;
	}
}
