---
import TagOrnament from "./TagOrnament.astro";

interface Props {
	title: string;
	id?: string;
	showOrnament?: boolean;
}

const { title, id, showOrnament = true } = Astro.props;
---

<section id={id} class="mb-16">
	<h2 class="text-primary font-condensed font-semibold uppercase text-7xl mb-8 text-center">{title}</h2>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-10">
		<slot />
	</div>
	{showOrnament && (
		<div class="flex justify-center mt-16">
			<TagOrnament />
		</div>
	)}
</section>
