---
import NewsSummaryItem from "./NewsSummaryItem.astro"; // Import from the same directory
import HomeSection from "./HomeSection.astro";
import { getBlogPosts } from "@/content";

const posts = await getBlogPosts();
const recentPosts = posts.slice(0, 3);
---

<HomeSection title="In the News">
<!--
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
-->
        {recentPosts.map((post) => <NewsSummaryItem post={post} />)}
<!--
    </div>
-->
</HomeSection>
