.event-card {
	aspect-ratio: 1;
	width: 30%;
	min-width: 30ch;
	height: 100%;
	text-decoration: none;
	padding: 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	scroll-snap-align: start;
	overflow: hidden;
}

.event-card img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-bottom: 12px;
}

.event-card h3 {
	margin: 8px 0;
	font-size: 1rem;
}

.event-card p {
	font-size: smaller;
	color: #555;
	margin: 8px 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.event-card h4 {
	margin: 16px 0 0;
	font-size: .75rem;
	color: #888;
}

.event-card time {
	font-size: 0.75rem;
	color: #999;
}
