.github-events-container {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.event-list {
	display: flex;
	overflow-x: auto;
	gap: var(--pico-grid-column-gap);
	padding-bottom: 16px;
	scroll-snap-type: x mandatory;
	scrollbar-width: none; /* Hide scrollbar for Firefox */
	-ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.event-list::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome/Safari */
}

.button-container {
	margin-top: .5rem;
	width: 100%;
	height: 2rem;
	position: relative;
}

.scroll-button {
	--button-size: 2rem;
	position: absolute;
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;
	color: hsla(0, 0%, 10%, .25);
	transition: color 0.3s ease;
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: none;

	&:hover {
		color: hsla(0, 0%, 10%, .5);
	}

	&:active {
		color: hsla(0, 0%, 10%, .65);
	}

	&.left {
		left: calc(var(--button-size) * -1 - var(--pico-grid-column-gap));
	}

	&.right {
		left: calc(100% + var(--pico-grid-column-gap));
	}

	@media (max-width: 900px) {
		display: none;
	}
}
