.github-events-container {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.event-list {
	display: flex;
	overflow-x: auto;
	gap: var(--pico-grid-column-gap);
	padding-bottom: 16px;
	scroll-snap-type: x mandatory;
	scrollbar-width: none; /* Hide scrollbar for Firefox */
	-ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.event-list::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome/Safari */
}

.scroll-button {
	--dead-space: .25rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: calc(2rem + 2 * var(--dead-space));
	height: calc(2rem + 2 * var(--dead-space));
	padding: var(--dead-space);
	color: hsla(0, 0%, 10%, .25);
	transition: color 0.3s ease;
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;

	&:hover {
		color: hsla(0, 0%, 10%, .5);
	}

	&:active {
		color: hsla(0, 0%, 10%, .65);
	}

	&.left {
		left: var(--dead-space);
	}

	&.right {
		right: var(--dead-space);
	}
}
