---
import type { CollectionEntry } from "astro:content";
import Page from "@/layouts/Page.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import FooterNav from "@/components/FooterNav.astro";
import type { MetadataProp } from "@/components/Metadata.astro";
import "@/styles/global.css";

interface Props {
	title: string;
	header?: string;
	meta?: MetadataProp;
	frontmatter?: CollectionEntry<"blog">["data"] | CollectionEntry<"projects">["data"];
}

let {
	title = "SF Civic Tech",
	meta = {},
	frontmatter
} = Astro.props;

if (frontmatter) {
	title = "title" in frontmatter
		? frontmatter.title
		: "name" in frontmatter
			? frontmatter.name
			: title;

	// there's frontmatter, which means we're laying out a markdown file, so make
	// sure there's metadata for the page, and copy any description from the
	// markdown file
	meta.description = frontmatter.description ?? meta.description;
}

const header = Astro.props.header ?? title;
---

<Page
	title={title}
	meta={meta}
>
	<HeaderNav />
	<main class="container">
		{header &&
			<h1>{header}</h1>}
		<slot />
	</main>
	<FooterNav />
</Page>

<style>
	h1 {
		margin-bottom: var(--pico-block-spacing-vertical);
	}
</style>
