---
import Page from "@/layouts/Page.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import FooterNav from "@/components/FooterNav.astro";

interface Props {
	title: string;
	header?: string;
}

const { title, header = title } = Astro.props;
---

<Page title={title}>
	<HeaderNav />
	<main class="container">
		{header &&
			<h1>{header}</h1>}
		<slot />
	</main>
	<FooterNav />
</Page>

<style>
	h1 {
		margin-bottom: var(--pico-block-spacing-vertical);
	}
</style>
