---
import Page from "@/layouts/Page.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import FooterNav from "@/components/FooterNav.astro";
import type { MetadataProp } from "@/components/Metadata.astro";

interface Props {
	title: string;
	header?: string;
	meta?: MetadataProp;
}

const { title, header = title, meta } = Astro.props;
---

<Page
	title={title}
	meta={meta}
>
	<HeaderNav />
	<main class="container">
		{header &&
			<h1>{header}</h1>}
		<slot />
	</main>
	<FooterNav />
</Page>

<style>
	h1 {
		margin-bottom: var(--pico-block-spacing-vertical);
	}
</style>
