---
import type { CollectionEntry } from "astro:content";
import Page from "@/layouts/Page.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import FooterNav from "@/components/FooterNav.astro";
import type { MetadataProp } from "@/components/Metadata.astro";

interface Props {
	title: string;
	header?: string;
	meta?: MetadataProp;
	frontmatter?: CollectionEntry<"blog">["data"] | CollectionEntry<"projects">["data"];
	mainClass?: string;
}

let {
	title = "SF Civic Tech",
	meta = {},
	frontmatter,
	mainClass,
} = Astro.props;

if (frontmatter) {
	title = "title" in frontmatter
		? frontmatter.title
		: "name" in frontmatter
			? frontmatter.name
			: title;

	if (!meta?.description && "description" in frontmatter) {
		meta ??= {};
		meta.description = frontmatter.description;
	}
}

const header = Astro.props.header ?? title;
---

<Page
	title={title}
	meta={meta}
>
	<HeaderNav />
	<main class:list={["my-2u", mainClass]}>
		{header &&
			<h1 class="text-3xl font-bold mb-8">{header}</h1>}
		<slot />
	</main>
	<FooterNav />
</Page>
