:root {
	--pico-block-spacing: 2rem;
	--pico-block-spacing-horizontal: 2rem;
	--pico-block-spacing-vertical: 3rem;
	--color-accent: rgb(236, 95, 93);
}

article {
	margin: var(--pico-block-spacing-vertical) 0;
}

ul[role="list"],
ol[role="list"] {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 1024px) {
	.container {
		max-width: 900px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1000px;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1000px;
	}
}
