---
import { base } from "@/utils/urls";
import Metadata from "@/components/Metadata.astro";
import type { MetadataProp } from "@/components/Metadata.astro";
import "@picocss/pico";
import "./global.css";

interface Props {
	title: string;
	meta?: MetadataProp;
}

const pageTitle = `${Astro.props.title} | SF Civic Tech`;
const meta = {
	title: pageTitle,
	description: "A welcoming and inclusive volunteer group of activists who use creative technology to solve civic and social problems.",
	url: Astro.url.href,
	...Astro.props.meta,
};
const baseURL = import.meta.env.BASE_URL.replace(/([^/])$/, "$1/");
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<base href={baseURL} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href={base("favicon.ico")} />
		<link rel="apple-touch-icon" sizes="180x180" href={base("apple-touch-icon.png")} />
		<link rel="icon" type="image/png" sizes="32x32" href={base("favicon-32x32.png")} />
		<link rel="icon" type="image/png" sizes="16x16" href={base("favicon-16x16.png")} />
		<link rel="manifest" href={base("site.webmanifest")} />
		<link rel="mask-icon" href={base("safari-pinned-tab.svg")} color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="SF Civic Tech"
			href={new URL("rss.xml", Astro.site)}
		/>

		<Metadata meta={meta} />

		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
